* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(".//images/patt.png");
}

.container {
    width: 1200px;
    max-height: 50px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: rgb(255, 255, 255, 0.75);
    padding: 25px 0;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after,.menu::after {
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    line-height: 50px;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-3-2 {
    width: 25.92593%;
}


.col-6 {
    width: 50%;
}

.col-9 {
    width: 75%;
}

.col-9-2 {
    width: 74.07407%;
}

.col-12 {
    width: 100%;
}
.menu li {
    float: left;
    width: 25%;
    max-height: 50px;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
}

.menu a:hover {
    background-color: #2c71b8;
    color: white;
}

.menu a:hover .down {
    border: 1px solid #ffffff;
    border-width: 0 1px 1px 0;
}

i {
    border: 1px solid #2c71b8;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
  
    position: relative;
    top: -5px;
    left: 10px;
  }
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.sub-menu {
    position: absolute;
    margin-left: -1px;
    display: none;
}

.sub-menu>li {
    width: 286px;
    line-height: 40px;
    background-color: #2c71b8;
    border: none;
}

.sub-menu a {
    color: white;
    text-align: left;
    padding-left: 28px;

    height: 40px;
    line-height: 40px;
}

.menu>li:hover .sub-menu {
    display: block;
}


.sub-menu a:hover{
    background-color: white;
    color: #2c71b8;
}

.sub-menu a:hover .products {
    background-color: #2c71b8;
    color: white;
}

.search {
    border: 1px solid #2c71b8;
    padding: 4px;
    height: 40px;
}

.text {
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 14px;

    width: 137px;
    height: 30px;
    top: -10px;
    left: 15px;
}

.text::-moz-placeholder {
    color: #2c71b8;
    padding-left: auto;

    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

.text::-webkit-input-placeholder {
    color: #2c71b8;
    padding-left: auto;

    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}



.search-btn {
    width: 30px;
    height: 30px;

    border: none;
    padding: 0;

    background-color: #2c71b8;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center;  
}

.card-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-image: url(images/basket.png);
    background-repeat: no-repeat;
    background-position: center; 
}

.count {
    position: relative;
    top: -50px;
    left: -10px;

    width: 20px;
    height: 20px;
    line-height: 20px;

    text-align: center;

    background-color: #2c71b8;
    color: white;

    font-size: 12px;

    border: 1px solid #2c71b8;
    border-radius: 15px;

}



/* .search,.basket-block {
    float: left;
}

.search {
    width: 74.07407%;
    height: 40px;
    margin: 0;
}

.search-text {
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #2c71b8;
    outline: none;

    padding: 0 10px;
    margin: auto;
}

.search-text::-moz-placeholder {
    color: #2c71b8;
    padding-left: auto;

    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

.search-text::-webkit-input-placeholder {
    color: #2c71b8;
    padding-left: auto;

    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}


.search-btn {
    position: relative;
    top: -35px;
    left: 160px;

    height: 30px;
    width: 30px;

    background-color: #2c71b8;
    border: none;
}

.basket-block {
    width: 25.92593%;
    text-align: right;
}

.basket {
   height: 40px;
   width: 40px;
   background-color: white;
   border: none;

} */



