* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(".//images/patt.png");
}

.container {
  width: 1200px;
  max-height: 50px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: rgb(255, 255, 255, 0.75);
  padding: 25px 0;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row::after,
.menu::after,
.submenu::after {
  content: "";
  display: block;
  clear: both;
}

[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  line-height: 50px;
  /* margin-top: 5px; */
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}
.menu > li {
  position: relative;
  float: left;
  width: 25%;
  max-height: 50px;
  border-left: 1px solid #2c71b8;
}

.menu > li:last-child {
  border-right: 1px solid #2c71b8;
}

.menu a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #2c71b8;
  font-size: 21px;
}

.menu > li > a:hover {
  background-color: #2c71b8;
  color: white;
}

.menu > li > a:hover .down {
  border: 1px solid #ffffff;
  border-width: 0 1px 1px 0;
}

i {
  border: 1px solid #2c71b8;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;

  position: relative;
  top: -5px;
  left: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.sub-menu {
  position: absolute;
  margin-left: -1px;
  display: none;
}

.sub-menu > li {
  width: 286px;
  line-height: 40px;
  background-color: #2c71b8;
  border: none;
}

.sub-menu > li:first-child {
  padding-top: 25px;
}

.sub-menu a {
  text-decoration: none;

  color: white;
  text-align: left;
  padding-left: 28px;

  height: 40px;
  line-height: 40px;
}

.menu > li:hover .sub-menu {
  display: block;
}

.sub-menu a:hover {
  background-color: white;
  color: #2c71b8;
}

li:hover > a {
  background-color: #2c71b8;
  color: white;
}

li:hover > a .down {
  border: 1px solid #ffffff;
  border-width: 0 1px 1px 0;
}

.search {
  border: 1px solid #2c71b8;
  padding: 4px;
  height: 40px;
  /* margin-top: 5px; */
}

.search input,
button {
  float: left;
}

.search-text {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin-right: 18px;

  color: #2c71b8;
  font-size: 21px;

  width: 137px;
  height: 30px;
  top: -1px;
  left: 15px;
}

.search-text::-moz-placeholder {
  color: #2c71b8;
  padding-left: auto;

  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.search-text::-webkit-input-placeholder {
  color: #2c71b8;
  padding-left: auto;

  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.search-btn {
  width: 30px;
  height: 30px;

  border: none;
  padding: 0;

  background-color: #2c71b8;
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: center;
}

.card-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(images/basket.png);
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: 5px; */
}

.count {
  position: absolute;
  top: -10px;
  left: -10px;

  width: 20px;
  height: 20px;
  line-height: 20px;

  text-align: center;

  background-color: #2c71b8;
  color: white;

  font-size: 12px;

  border: 1px solid #2c71b8;
  border-radius: 15px;
}

.block {
  height: 400px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid white;
}


.main-conteiner {
  height: 2336px;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.filter {
  height: 843px;
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation {
  margin-top: 30px;
  margin-bottom: 18px;
  margin-left: 2px;
  color: white;
}

.navigation a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.catalog {
  height: 2000px;
  background-color: #1b4875;
}
.name {
  font-size: 48px;
  font-weight: bold;
  color: white; 
}

.sorting-menu {
  position: absolute;
  width: 270px;
  background-color: #2c71b8;
}

.arrowwhite {
  position: relative;
  top: 0px;
  left: 100px;
}

.sorting-menu a{
  display: block;
  text-decoration: none; 
  color: white;
  font-size: 21px;
  padding-left: 20px;
}

.sorting-menu a:hover {
  background-color: white;
  color: #2c71b8;
}


.sorting-menu>li{
  width: 270px;
  height: 40px;

  border: 1px solid white;

  line-height: 40px;
}

.sorting-menu>li>a {
  background-image: url(images/arrowwhite.png);
  background-repeat: no-repeat;
  background-position: 90%;
}

.sorting-menu>li>a:hover {
  background-image: url(images/arrowblue.png);
  background-repeat: no-repeat;
  background-position: 90%;
}

.sorting-sub-menu {
  position: relative;
  top: -2px;
  left: -1px;
  display: none;
}

.sorting-sub-menu>li {
  height: 40px;
  width: 270px;
  background-color: #2c71b8;
  
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.sorting-sub-menu>li:first-child {
  border-top: 1px solid white;
}

.sorting-sub-menu>li>a {
  height: 39px;
  width: 269px;
}

.sorting-sub-menu a:hover {
  background-color: white;
  color: #2c71b8;
}

.sorting-menu>li:hover .sorting-sub-menu{
  display: block;
}






.footer {
  text-align: center;
  line-height: 50px;

  height: 100px;
  background-color: rgb(255, 255, 255, 0.75);
  padding: 25px 0;
}

.copyright {
  color: #2c71b8;
  font-size: 21px;
}


